.Row1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 200px 200px 200px 250px 220px;
    border: solid;
    /* outline: solid; */
    border-radius: 25px;
}

.ItemRows {
    display: grid;
    grid-template-rows: 150px 255px;
    /* border: dashed; */
}

.TopRow {
    /* border: dashed; */
    padding-top: 0;
}

.TopRow h2 {
    line-height: 0;
    margin-bottom: auto;
}

.TopRow button {
    font-size: small;
    margin-bottom: 0;
}

.BottomRow {
    display: grid;
    grid-template-rows: 35px 175px;
    /* border: solid; */
    /* outline: solid; */
}

.BottomRow h4 {
    /* border: dotted; */
    margin-top: auto;
    margin-bottom: auto;
}

.BottomRow h5 {
    /* border: dotted; */
    margin-top: 0;
    margin-bottom: auto;
    font-size: 0.75rem;
    /* text-align: left;
    text-indent: 20px; */
}

.BottomRow small input {
    /* width: 40px; */
    width: 20%;
}

.BottomRow small select {
    width: 120px;
    font-size: 0.7rem;
}

small input::-webkit-outer-spin-button,
small input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Row2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 230px 1030px;
    /* border: solid;
    border-radius: 25px; */
}

.Main_Battery {
    border: solid;
    border-radius: 25px;
}

.Aux_Batteries {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    border: solid;
    border-radius: 25px;
}

.Row3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 230px 1030px;
    /* border: solid;
    border-radius: 25px; */
}

.Main_Weapon {
    border: solid;
    border-radius: 25px;
}

.Weapon_Selector h5 small {
    font-size: 0.9em;
    font-weight: 900;
}

.Aux_Weapons {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    border: solid;
    border-radius: 25px;
}

.Row4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 230px 1030px;
    /* border: solid;
    border-radius: 25px; */
}

.Main_Drone {
    border: solid;
    border-radius: 25px;
}

.Aux_Drones {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    border: solid;
    border-radius: 25px;
}